<div class="about-me">
    <h1>About Us</h1>
    <div class="person">
      <p><strong>Name:</strong> Amjad Balawi</p>
      <p>
        <strong>Bio:</strong> Software & AI Engineering lead.
        <a href="https://www.linkedin.com/in/amjad-balawi/" target="_blank" class="profile-link">
          LinkedIn Profile
        </a>
      </p>
    </div>
    <div class="person">
      <p><strong>Name:</strong> Mohammed Reda</p>
      <p>
        <strong>Bio:</strong> Business Intelligence PhD passionate about AI.
        <a href="https://www.linkedin.com/in/mohamed-reda-1207b4133/" target="_blank" class="profile-link">
          LinkedIn Profile
        </a>
      </p>
    </div>
    <div class="person">
      <p><strong>Name:</strong> Mahmoud Bakri</p>
      <p>
        <strong>Bio:</strong> Business Intelligence PhD passionate about AI.
        <a href="" target="_blank" class="profile-link">
          LinkedIn Profile
        </a>
      </p>
    </div>
  </div>
  