<!--
<div class="container">
  <h1>{{ title }}</h1>

  <div>
    <label for="userInput">Enter your message:</label>
    <textarea
      id="userInput"
      [(ngModel)]="userInput"
      rows="3"
      cols="50"
      placeholder="Type something..."
    ></textarea>
  </div>

  <button (click)="sendMessage()" [disabled]="isLoading">Send</button>

  <div *ngIf="isLoading">
    <p>Loading...</p>
  </div>

  <div *ngIf="chatResponse">
    <h3>Response:</h3>
    <div [innerHTML]="chatResponse"></div>
  </div>
</div>
-->

<div class="navbar">
  <div class="logo">
    <span>GoExplore</span>
  </div>
  <ul>
    <li><a routerLink="/hidden-gems" routerLinkActive="active"><i class="fas fa-gem"></i>Hidden Spots</a></li>
    <li><a routerLink="/destination-activities" routerLinkActive="active"><i class="fas fa-map-marker-alt"></i>Activities </a></li>
    <li><a routerLink="/translate-service" routerLinkActive="active"><i class="fas fa-language"></i>Translate</a></li>
    <li><a routerLink="/cultural-tips" routerLinkActive="active"><i class="fas fa-lightbulb"></i>Cultural Tips</a></li>
    <li><a routerLink="/weather" routerLinkActive="active"><i class="fas fa-lightbulb"></i> Weather </a></li>
      <li><a routerLink="/about-me" routerLinkActive="active"><i class="fas fa-lightbulb"></i> about us</a></li>
  </ul>
</div>
<div class="donation-section" *ngIf="isDonationSectionVisible">
  <button class="close-button" (click)="closeDonationSection()">×</button>
  <h3>Support Us</h3>
  <p>Love the app? Donate!</p>
  <a href="https://revolut.me/amjadhubb" target="_blank" class="donate-button">Donate</a>
</div>

<router-outlet></router-outlet>

