<div class="navbar">
  <div class="logo">
    <span>GoExplore</span>
  </div>
  <ul>
    <li><a routerLink="/hidden-gems" routerLinkActive="active"><i class="fas fa-gem"></i> Hidden Spots</a></li>
    <li><a routerLink="/destination-activities" routerLinkActive="active"><i class="fas fa-map-marker-alt"></i> Activities</a></li>
    <li><a routerLink="/translate-service" routerLinkActive="active"><i class="fas fa-language"></i> Translate</a></li>
    <li><a routerLink="/cultural-tips" routerLinkActive="active"><i class="fas fa-lightbulb"></i> Cultural Tips</a></li>
    <li><a routerLink="/weather" routerLinkActive="active"><i class="fas fa-lightbulb"></i> Weather</a></li>
    <li><a routerLink="/about-me" routerLinkActive="active"><i class="fas fa-lightbulb"></i> About Us</a></li>
    <li>
      <a href="https://www.youtube.com/watch?v=97LvrhQBQnU" target="_blank">
        <i class="fab fa-youtube"></i> YouTube
      </a>
    </li>
  </ul>
</div>
<div class="donation-section" *ngIf="isDonationSectionVisible">
  <button class="close-button" (click)="closeDonationSection()">×</button>
  <h3>Support Us</h3>
  <p>Love the app? Donate!</p>
  <a href="https://revolut.me/amjadhubb" target="_blank" class="donate-button">Donate</a>
</div>

<router-outlet></router-outlet>
